@{
    Layout = "_Layout";
}
@using Kursovaya.Models
@model ClientViewModel

<h1>Добавить клиента</h1>

<div class="table-responsive">
    <form asp-action="Insert">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" style="margin-bottom:10px">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-bottom:10px">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-bottom:10px">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-bottom:10px">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-bottom:10px">
            <label asp-for="DateOfBirth" class="control-label"></label>
            <input asp-for="DateOfBirth" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-bottom:10px">
            <label asp-for="Gender" class="control-label"></label>
            <input asp-for="Gender" class="form-control" />
            <span asp-validation-for="Gender " class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-bottom:10px">
            <label asp-for="MembershipType" class="control-label"></label>
            <input asp-for="MembershipType" class="form-control" />
            <span asp-validation-for="MembershipType " class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-bottom:10px">
            <label asp-for="MembershipStartDate" class="control-label"></label>
            <input asp-for="MembershipStartDate" class="form-control" />
            <span asp-validation-for="MembershipStartDate " class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-bottom:10px">
            <label asp-for="MembershipEndDate" class="control-label"></label>
            <input asp-for="MembershipEndDate" class="form-control" />
            <span asp-validation-for="MembershipEndDate " class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-bottom:10px">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
</div>