@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Для получения всей информации вы можете связаться с нами с помощью:</h1>
    <h1 class="display-4">Телефана +79932567810</h1>
    <h1 class="display-4">Эл. почты: fitnes@yandex.ru</h1>
</div>
